@model Instituicao

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <!-- Outras tags dentro do head -->
</head>

<style>

    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; /* Define a fonte como Bold */
        background-color: #FFFAEB;
    }

    h1, h4, dt, dd, .btn {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; /* Define a fonte como Bold */
    }

    .custom-btn {
        background: linear-gradient(to right, #FFB655, #FF637D);
        border: none;
        border-radius: 50px; /* Torna as bordas arredondadas em formato cilíndrico */
        color: white; /* Define a cor da fonte como branca */
        padding: 10px 20px; /* Ajusta o padding para melhor aparência */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: background 0.3s ease; /* Adiciona uma transição suave para o background */
    }

    .custom-btn:hover {
        background: linear-gradient(to right, #FF637D, #FFB655); /* Inverte as cores no hover */
    }
</style>

<h1>Detalhes</h1>
<body>
<div>
    <h4>Instituição</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endereco_rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco_rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endereco_bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco_bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endereco_cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco_cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endereco_estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco_estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endereco_numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco_numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endereco_cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco_cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.senha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.adm_validacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.adm_validacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pix_doacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pix_doacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.n_vagas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.n_vagas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.bool_atd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bool_atd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.qtd_disponibilidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.qtd_disponibilidade)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.descricao_casa)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descricao_casa)
        </dd>
    </dl>
</div>
</body>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.instituicao_id" class="btn custom-btn">Editar</a> |
    <a asp-action="Delete" asp-route-id="@Model?.instituicao_id" class="btn custom-btn">Deletar Instituição</a>
    <a href="/Home/Index" class="btn custom-btn">Voltar</a>
</div>
