@model IEnumerable<acolhequeer_app.Models.AgendaQuarto>
@{
    ViewData["Title"] = "Seus Agendamentos";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <!-- Outras tags dentro do head -->
</head>

<style>

    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; /* Define a fonte como Bold */
        background-color: #FFFAEB;
    }

    h1, h4, th, td, .btn {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700; /* Define a fonte como Bold */
    }

    .custom-btn {
        background: linear-gradient(to right, #FFB655, #FF637D);
        border: none;
        border-radius: 50px; /* Torna as bordas arredondadas em formato cilíndrico */
        color: white; /* Define a cor da fonte como branca */
        padding: 10px 20px; /* Ajusta o padding para melhor aparência */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition: background 0.3s ease; /* Adiciona uma transição suave para o background */
    }

    .custom-btn:hover {
        background: linear-gradient(to right, #FF637D, #FFB655); /* Inverte as cores no hover */
    }

</style>

<h2>Seus Agendamentos</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Reserva ID</th>
                <th>Usuário</th>
                <th>Instituição</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Data de Reserva</th>
                <th>Observações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.reserva_id</td>
                    <td>@item.usuario_id</td>
                    <td>@item.instituicao_id</td>
                    <td>@item.check_in</td>
                    <td>@item.check_out</td>
                    <td>@item.data_reserva</td>
                    <td>@item.observacao</td>
                </tr>
            }
        </tbody>
    </table>
}

